<% layout("/layouts/adminBoilerplate") %>

        <div class="right_side_panel">
            <div class="d-flex shadow-sm p-2">
                <div><h5>Filters</h5></div>
                <div class="ms-auto filter">
                    <select name="" id="">
                        <option value="">Categories</option>
                        <option value="">SSC GD</option>
                        <option value="">SSC MTS</option>
                        <option value="">UPSC</option>
                    </select>
                    <select name="" id="">
                        <option value="">Durations</option>
                        <option value="">Weekly</option>
                        <option value="">Monthly</option>
                        <option value="">Yearly</option>
                    </select>
                    <select name="" id="">
                        <option value="">Categories</option>
                        <option value="">SSC GD</option>
                        <option value="">SSC MTS</option>
                        <option value="">UPSC</option>
                    </select>
                    <select name="" id="">
                        <option value="">Categories</option>
                        <option value="">SSC GD</option>
                        <option value="">SSC MTS</option>
                        <option value="">UPSC</option>
                    </select>
                </div>
            </div>
            <h3>Dashboard</h3>
            <div class="dashboard_row_1 text-center">
                <div class="dashboard_progress_bars1 ">
                    <div class="progress-bar">
                        51%
                        <!-- <progress value="51" min="0" max="100" style=" height:0; width:0;">51%</progress> -->
                    </div>
                    <p>Total Test Done</p>
                </div>
                <div class="dashboard_progress_bars2">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>Total Courses</p>
                </div>
                <div class="dashboard_progress_bars3">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>Total Active Users</p>
                </div>
                <div class="dashboard_progress_bars4">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>Total Users</p>
                </div>
                <div class="dashboard_progress_bars5">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>-------</p>
                </div>
            </div>
            <h3>Courses</h3>
            <div class="dashboard_row_1 text-center">
                <div class="dashboard_progress_bars1 ">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>SSC-GD</p>
                </div>
                <div class="dashboard_progress_bars2">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>SSC-CHSL</p>
                </div>
                <div class="dashboard_progress_bars3">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>MTS</p>
                </div>
                <div class="dashboard_progress_bars4">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>UPSC</p>
                </div>
                <div class="dashboard_progress_bars5">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>JEE</p>
                </div>
            </div>
            <h3>No. of Questions</h3>
            <div class="dashboard_row_1 text-center">
                <div class="dashboard_progress_bars1 ">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>SSC-GD</p>
                </div>
                <div class="dashboard_progress_bars2">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>SSC-CHSL</p>
                </div>
                <div class="dashboard_progress_bars3">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>MTS</p>
                </div>
                <div class="dashboard_progress_bars4">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>UPSC</p>
                </div>
                <div class="dashboard_progress_bars5">
                    <div class="progress-bar">
                        <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <p>JEE</p>
                </div>
            </div>
            <h3>Top Ranker</h3>
            <div class="dashboard_row_1 text-center">
                <div class="dashboard_progress_bars1 ">
                   <img src="/profile.png" alt="" class="ranker_img">
                   <p>SSC-GD</p>
                </div>
                <div class="dashboard_progress_bars2">
                    <img src="/profile.png" alt="" class="ranker_img">
                    <p>SSC-CHSL</p>
                </div>
                <div class="dashboard_progress_bars3">
                    <img src="/profile.png" alt="" class="ranker_img">
                    <p>MTS</p>
                </div>
                <div class="dashboard_progress_bars4">
                    <img src="/profile.png" alt="" class="ranker_img">
                    <p>UPSC</p>
                </div>
                <div class="dashboard_progress_bars5">
                    <img src="/profile.png" alt="" class="ranker_img">
                    <p>JEE</p>
                </div>
            </div>
        </div>
    </div>
