<% layout("/layouts/adminBoilerplate") %>

    <style>
        .card {
            width: 200px;
            height: 175px;
            border-radius: 10px;
            background-color: #e9eef7;
        }
        .card a {
            align-self: last baseline;
            margin-top: 30%;
            margin-right: 5px;
        }
        #allCourse {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: fit-content;
            gap: 40px;
        }
        #TableForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #TableForm i {
            font-size: 80px;
            color: #ccc;
            margin-bottom: 15px;
        }
    </style>

        <div class="right_side_panel p-5 d-block">
            <h3 class="my-4">Courses Available</h3>
            <div></div>
        </div>
    </div>

