<% layout("/layouts/adminBoilerplate") %>

        <div class="right_side_panel p-4">
            <h3>Upload Questions</h3>
            <form id="uploadForm" action="/uploadQuestions" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="questionText" class="form-label">Question Text</label>
                    <textarea type="text" class="form-control" id="questionText" name="questionText" required></textarea>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Please Enter a question.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="optionA" class="form-label">Option A</label>
                    <input type="text" class="form-control" id="optionA" name="optionA" required>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Please Enter a option.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="optionB" class="form-label">Option B</label>
                    <input type="text" class="form-control" id="optionB" name="optionB" required>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Please Enter a option.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="optionC" class="form-label">Option C</label>
                    <input type="text" class="form-control" id="optionC" name="optionC" required>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Please Enter a option.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="optionD" class="form-label">Option D</label>
                    <input type="text" class="form-control" id="optionD" name="optionD" required>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Please Enter a option.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="correctOption" class="form-label">Correct Option (A/B/C/D)</label>
                    <select class="form-control" name="correctOption" id="correctOption" required>
                        <option>--Select Correct Option--</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Select difficulty correct Option
                      </div>
                </div>
                <div class="mb-3">
                    <label for="difficultyLevel" class="form-label">Difficulty Level</label>
                    <select class="form-control" name="difficultyLevel" id="difficultyLevel" required>
                        <option>--Select Difficulty Level--</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    <div class="valid-feedback">
                        Great ! 
                      </div>
                    <div class="invalid-feedback">
                        Select difficulty Level
                      </div>
                </div>
                <div class="mb-3">
                    <label for="subjects" class="form-label">Subjects Name</label>
                    <select class="form-control" name="subjects" id="subjects" required>
                        <option>--Select Subjects Name--</option>
                        <% tables.forEach(table => { %>
                            <option value="<%= table.originalTableName%>"><%= table.originalTableName.replace(/_/g, ' ').toUpperCase() %></option>
                            <%})%>
                        </select> 
                        <div class="valid-feedback">
                            Great ! 
                          </div>
                        <div class="invalid-feedback">
                            Select Subjects Name
                          </div>
                    </div>  
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    <script>
      (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
      })()
    </script>

