
<div class="middel_side_panel">
    <ul class="p-0">
        <a href="/adminDashboard"><li><i class="fas fa-th"></i> Dashboard</li></a>
        <a href="/allUsres"><li><i class="fas fa-users"></i> All Users</li></a>
        <a href="/courseCategories"><li><i class="fab fa-react"></i> Course Categories</li></a>
        <a href="/manageSubjects"><li><i class="fas fa-book"></i> Manage Subjects</li></a>
        <a href="/uploadQuestions"><li><i class="fas fa-upload"></i> Upload Questions</li></a>
        <a href="/manageQuestions"><li><i class="fas fa-tasks"></i> Manage Questions</li></a>
        <a href="/manageTests"><li><i class="fas fa-clipboard"></i> Manage Tests</li></a>
        <a href=""><li><i class="fas fa-clipboard-check"></i> Result</li></a>
        <a href=""><li><i class="fas fa-book-open"></i> Reports</li></a>
        <a href=""><li><i class="fas fa-certificate"></i> Certificates</li></a>
        <a href=""><li><i class="fas fa-poll"></i> Ranking</li></a>
        <a href=""><li><i class="fas fa-rupee-sign"></i> Earning</li></a>
        <a href=""><li><i class="fas fa-user-lock"></i> Admin Profile</li></a>
        <a href=""><li><i class="fas fa-comment-alt"></i> Feedbacks</li></a>
    </ul>
</div>