<div class="left_side_panel">
    <img src="/images/profile.png" alt="" width="70%" class="profile_image" style="outline: 2px solid #fff; outline-offset: 2px; border-radius: 50%;"> 
    <div class="d-flex flex-column gap-3">
        <a href="/logout"><i class="fas fa-sign-out-alt text-light fs-4" title="Signout"></i></a>
        <i class="fas fa-cog text-light fs-4" title="Setting"></i>
    </div>
</div>