<footer class="custom-footer">
    <div class="container-fluid p-5">
        <div class="row pb-5">
            <!-- Footer Logo & Description -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="footer-logo">
                    <a href="/">
                        <img class="pb-3" src="/images/white_logo.png" alt="" height="80px" width="220px">
                    </a>
                <!-- <h1 class="display-3 pb-3">KR3</h1> -->
                </div>
                <div class="footer-col1-content">
                    <p>There anyone who loves pursues not some great to have pleasure</p>
                    <p>We are an immigration company pulling words and phrases from the humanitarian sector to come up with winning chunks of lorem.</p>
                </div>
                <div class="footer-social-media d-flex gap-3 footerIcons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <h3 class="ps-3 p-2">Users</h3>
                <ul class="ps-4 d-flex flex-column gap-2">
                    <li>Students</li>
                    <li>Schools</li>
                    <li>Colleges</li>
                    <li>Training Institutes</li>
                    <li>Self</li>
                </ul>
            </div>
            
            <!-- Exams Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <h4 class="ps-3 p-2">Exams</h4>
                <ul class="ps-4 d-flex flex-column gap-2">
                    <li>SSC GD</li>
                    <li>SSC CGL</li>
                    <li>SSC Stenographer</li>
                    <li>MTS</li>
                    <li>UPSC</li>
                </ul>
            </div>
            
            <!-- News & Updates Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <h4 class="ps-3 p-2">News Updates</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi.</p>
                <div class="d-flex pt-3">
                    <input type="email" name="email" placeholder="Your Email" class="form-control me-2" required>
                    <button type="submit" class="btn bg-danger text-white">
                        <i class="fas fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <!-- Footer Bottom Section -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center ">
            <div class="copyright mb-2 mb-md-0">
                Copyright © KR3-Team. All rights reserved.
            </div>
            <div class="footer-imp-links">
                <a href="#">Privacy Policy</a> / <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>
    <a href="/adminLogin" id="adminLink">
        <button id="adminButton"></button>
    </a>
</footer>