<nav class="navBox">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" height="30px" width="70px"></a>
    <ul id="navList">
        <li><a href="#">Home</a></li>
        <li id="navItemsTest">Test
            <ul id="dropdownMenus">
                <div>
                    <h6>Subjective Tests</h6>
                    <li><a href="#">SSC</a></li>
                    <li><a href="/test">Test</a></li>
                </div>
                <div>
                    <h6>Contest Tests</h6>
                    <li><a href="/contestregistaion">Registration for contest</a></li>
                    <li><a href="/contest">Contest</a></li>
                </div>
            </ul>
        </li>
        <li id="navItemsCategories">Categories
            <ul id="dropdownMenus">
                <li><a href="#">Coming Soon</a></li>
            </ul>
        </li>
        <li id="navItemsAbout">About
            <ul id="dropdownMenus">
                <li><a href="#">Coming Soon</a></li>
            </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
