<section id="testInfoBox" >
    <div class="resultContainer">
        <h2>Test Informations:</h2>
        <ol style="padding: 20px 40px; line-height: 25px;">
            <li>There are total 25 questions.</li>
            <li>All questions are compulsory.</li>
            <li>Need at least 60% to clear test.</li>
            <li>Each questions carry equal mark.</li>
            <li>There are no negative marking.</li>
            <li>You have 30 minutes to complete the test.</li>
        </ol>
        <button id="testInfoBtn">Next</button>
    </div>
</section>
<section id="testInstructionBox" style="display: none;">
    <div class="resultContainer">
        <h3>Test Instruction:</h3>
        <ol style="padding: 20px 40px; line-height: 25px;">
            <li>Please finish the test before timeout otherwise data not recorded.</li>
            <li>Do not reload the page otherwise you are out from test.</li>
            <li>Do not switch tabs till test ended otherwise you are out from test.</li>
        </ol>
        <button id="testInstructionBtn">Start Test</button>
    </div>
</section>