<section id="testInfoBox" >
    <div class="resultContainer">
        <h2>Test Informations:</h2>
        <ol style="padding: 20px 40px; line-height: 25px;">
            <li>There are total <%= questions.length %> questions.</li>
            <li>All questions are compulsory.</li>
            <li>Need at least 60% to clear test.</li>
            <li>Each questions carry equal mark.</li>
            <li>There are no negative marking.</li>
            <li>You have <%= duration==null ? "10:00" : duration %> minutes to complete the test.</li>
            <li>Click on Mark button in orange color to mark question to do later on.</li>
            <li>Without choosing option Next button do not work.</li>
        </ol>
        <button id="testInfoBtn">Next</button>
    </div>
</section>
<section id="testInstructionBox" style="display: none;">
    <div class="resultContainer">
        <h3>Test Instruction:</h3>
        <ol style="padding: 20px 40px; line-height: 25px;">
            <li>Please submit your response before finsih.</li>
            <li>Please finish the test before timeout.</li>
            <li>Do not reload the page otherwise your test will be restarted.</li>
            <li>Do not switch tabs till test ended otherwise you are out from test.</li>
        </ol>
        <button id="testInstructionBtn">Start Test</button>
    </div>
</section>