<% layout("/layouts/boilerplate") %>
<div class="container">
    <div class="row pt-4 text-center">
        <h1 class="text-danger display-3 fw-bold">--------------ERROR--------------</h1>
        <div class="alert alert-danger" role="alert">
            <h3>-------------- <%=statusCode%> --------------
                  <br> <%- message %> . . .</h3>
        </div>
    </div>
</div>