<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KR3 | Forget Password</title>
    <link rel="shortcut icon" href="/images/link_kr3_logo.png" type="image/x-icon">
    <!--font-awesome linking-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<style>
    body{
        width: 100%;
        background: linear-gradient(45deg, #ff00ff, #00ffff, #ff6b6b, #6b6bff);
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .container, .container2 {
        width: 20%;
        height: 95vh;
        
    }
    input {
        width: 100%;
        padding: 7px;
        margin-bottom: 15px;
        border: none;
        font-size: 15px;
    }
    button {
        padding: 10px;
        background-color: #05aa4f;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<body>
    <div class="container">
        <label for="email">Your register email Id:</label>
        <input id="emailId" type="email" placeholder="Enter your register email...">
        <button type="submit" id="emailSubmitBtn">Submit</button>
        <label for="otpInput" style="display: none;">Enter Otp:</label>
        <input id="otpInput" type="number" placeholder="Enter otp..." style="display: none;">
        <p id="emailSendMsg" style="display: none;"></p>
        <button type="submit" id="otpSubmitBtn" style="display: none;">Submit</button>
    </div>
    <div class="container2" style="display: none;">
        <form action="/forgetPassword?_method=put" method="POST">
            <label for="email">Your register email Id:</label>
            <input name="email" id="userEmailId" type="email" readonly>
            <label for="newPass">Your new password:</label>
            <input name="password" id="newPass" type="password" placeholder="Enter your new password...">
            <label for="conPass">Enter password again:</label>
            <input name="con_password" id="conPass" type="password" placeholder="Enter password again...">
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- cdn for sending email -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script>
        let emailId = document.getElementById("emailId");
        let userEmailId = document.getElementById("userEmailId");
        let otpInput = document.getElementById("otpInput");
        let otpLabel = document.querySelector("[for='otpInput']");
        let emailSubmitBtn = document.getElementById("emailSubmitBtn");
        let otpSubmitBtn = document.getElementById("otpSubmitBtn");

        // Function to generate a random OTP
        function generateOTP() {
            return Math.floor(100000 + Math.random() * 900000); // Generates a 6-digit OTP
        }
        const otp = generateOTP(); // Generated OTP

        // function to send otp
        function sendEmail(to) {
            (function(){
                emailjs.init({
                publicKey: "9USFHTj0JSE6W61sx",
                });
            })();

            var params = {
                sendername: "KR3",
                to: to,
                subject: "Registration One-Time-Password (OTP)",
                replyto: "kg221688@gmail.com",
                message: `
                Hii Dear,
                Your One-Time-Password (OTP) is ${otp}. Do not share with anyone.`
            };

            var serviceID = "service_3uqfgys";
            var templateID = "template_a3y7md1";

            emailjs.send(serviceID, templateID, params)
            .then( res => {
                emailSendMsg.style.display = "block";
                emailSendMsg.style.color = "#05aa4f";
                emailSendMsg.innerHTML = '<i class="fas fa-check-circle" style="color: #05aa4f;"></i> Email send successfully ! ';
                setTimeout(() => {
                    emailSendMsg.style.display = "none";
                },3000);
            })
            .catch(function (error) {
                emailSendMsg.style.display = "block";
                emailSendMsg.style.color = "#ff6b6b";
                emailSendMsg.innerHTML = '<i class="fas fa-times-circle" style="color: #ff6b6b;"></i> Failed to send email: ' + error;
                setTimeout(() => {
                    emailSendMsg.style.display = "none";
                },3000);
            });
        }

        emailSubmitBtn.addEventListener('click', () => {
            otpLabel.style.display = "block";
            otpInput.style.display = "block";
            emailSubmitBtn.style.display = "none";
            otpSubmitBtn.style.display = "block";
            emailId.setAttribute("disabled","disabled");
            sendEmail(emailId.value.replace(/ /g, '').toLowerCase());
        });
        otpSubmitBtn.addEventListener('click', () => {
            if(otpInput.value == otp){
                document.querySelector(".container").style.display = "none";
                document.querySelector(".container2").style.display = "block";
                userEmailId.value = emailId.value.replace(/ /g, '').toLowerCase();
            } else {
                emailSendMsg.style.display = "block";
                emailSendMsg.style.color = "#ff6b6b";
                emailSendMsg.innerHTML = '<i class="fas fa-times-circle" style="color: #ff6b6b;"></i> Wrong password !';
                setTimeout(() => {
                    emailSendMsg.style.display = "none";
                },3000);
            }
        });
    </script>
</body>
</html>
