<% layout("/layouts/boilerplate") %>
<style>
    .icon-border i{
        border: 5px solid black; 
        border-radius: 50%;      
    }    
</style>
<div class="container">
    <div class="row py-4 text-center d-flex flex-column align-items-center">
        <span class="icon-border">
            <i class="fas fa-check-circle text-success display-1"></i> <!-- Icon inside bordered span -->
        </span>
        <h1 class="text-warning-emphasis display-3 fw-bold">Successfully Regsitered !!</h1>
            <br>
            <a href="/"><button class="btn btn-success w-25">Done</button></a>
    </div>
</div> 