body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 400px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 1.5rem;
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.remember-me {
    display: flex;
    align-items: center;
}
.remember-me input {
    margin-right: 0.5rem;
}
a {
    text-decoration: none;
}
button {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 0.75rem;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
button:hover {
    background-color: #7d3c98;
}
.headingAdminLogin{
    color: #8e44ad;
}